<style>
	@font-face {
		font-family: 'Ubuntu';
		src: url('fonts/3976.ttf');
	}

	@font-face {
		font-family: 'FLX';
		src: url('fonts/UpheavalPro.otf');
	}

	@font-face {
		font-family: 'FontAwesome';
		src: url('fonts/FontAwesome.otf');
	}

	.content{
		background: url('images/bg.jpg');
	}

	@media screen and (max-width: 1050px) {
		.content{
			background: url('images/mob-bg.jpg');
		}
	}
</style>

<div id="header">ДОБРО ПОЖАЛОВАТЬ ВО ВСЕЛЕННУЮ FL.X</div>
	<div class="content">
		<div class="row">
			<div id="chelka">
				<a href="https://www.instagram.com/fl.x_official/?hl=ru" class="ico" target="_blank"></a>
				<a href="https://vk.com/fl.x_official" class="ico" target="_blank"></a>
				<a href="https://facebook.com/flx.today" class="ico" target="_blank"></a>
				<a href="https://www.youtube.com/channel/UCio2tQf2Tq41YeLxO2cxS0g" class="ico" target="_blank"></a>
			</div>
			<div id="main" class="row">
				<img src="/images/logo.png" alt="" id="biglogo" class="logo col-sm-5 left">
				<div class="player col-sm-7">
					<div id="mobile-header">
						<img src="/images/logo.png" alt="" id="minlogo" style="display: inline-block;">
						<span id="mobile-title" style="display: inline-block;">ДОБРО ПОЖАЛОВАТЬ ВО ВСЕЛЕННУЮ FL.X</span>
					</div>


					<div id="amazingaudioplayer-1" style="display:block;position:relative;width:100%;max-width:700px;height:auto;margin:0px auto 0px;">
				        <ul class="amazingaudioplayer-audios" style="display:none;">
				            <li data-artist="" data-title="FL.X - #флексрежим" data-album="" data-info="" data-image="" data-duration="0">
				                <div class="amazingaudioplayer-source" data-src="audios/FL.X%20-%20%23%D1%84%D0%BB%D0%B5%D0%BA%D1%81%D1%80%D0%B5%D0%B6%D0%B8%D0%BC.mp3" data-type="audio/mpeg" ></div>
				            </li>
				            <li data-artist="" data-title="FL.X - #встилетигра" data-album="" data-info="" data-image="" data-duration="0">
				                <div class="amazingaudioplayer-source" data-src="audios/FL.X%20-%20%23%D0%B2%D1%81%D1%82%D0%B8%D0%BB%D0%B5%D1%82%D0%B8%D0%B3%D1%80%D0%B0.mp3" data-type="audio/mpeg" ></div>
				            </li>
				            <li data-artist="" data-title="FL.X - #времяделать" data-album="" data-info="" data-image="" data-duration="0">
				                <div class="amazingaudioplayer-source" data-src="audios/FL.X%20-%20%23%D0%B2%D1%80%D0%B5%D0%BC%D1%8F%D0%B4%D0%B5%D0%BB%D0%B0%D1%82%D1%8C.mp3" data-type="audio/mpeg" ></div>
				            </li>
				        </ul>
				    </div>


				</div>
			</div>
		</div>
	</div>

	<div class="line"></div>
	<div class="little-line-l"></div>

		<div class="subscribe">
			<div class="row">
				<h1>Подписаться на рассылку <br> <span>FL.X</span></h1>
				<form method="POST" action="https://cp.unisender.com/ru/subscribe?hash=6jzunfunk8zi4og5hw6bakw4nptc6kyekgu6qnbzk54gzetexejhy" name="subscribtion_form">
				    <div class="subscribe-form-item subscribe-form-item--input-string">
				        <input class="subscribe-form-item__control subscribe-form-item__control--input-string" type="text" name="f_6853265" value="" placeholder="Введите ваше имя...">
				    </div>
				    <div class="subscribe-form-item subscribe-form-item--input-email">
				        <input class="subscribe-form-item__control subscribe-form-item__control--input-email" type="text" name="email" value="" placeholder="Введите ваш e-mail...">
				    </div>
				    <div class="subscribe-form-item subscribe-form-item--btn-submit">
				    	<button type="submit" class="subscribe-form-item__btn subscribe-form-item__btn--btn-submit" type="submit">Подписаться</button>
				         </div>
				    <input type="hidden" name="charset" value="UTF-8">
				    <input type="hidden" name="default_list_id" value="16519705">
				    <input type="hidden" name="overwrite" value="2">
				    <input type="hidden" name="is_v5" value="1">
				</form>
			</div>
		</div>


	<div class="little-line-r"></div>
	<div class="line"></div>
	<div class="little-line-l"></div>


	<footer>
		<div class="row">
			<div class="col-sm-6 rights">&copy; FLX 2018-2019</div>
			<div class="col-sm-6 creator">Сайт создан в секретной лаборатории FL.X, <br> под руководством <a href="#">Матюхина Алексея</a></div>
		</div>

	</footer>
